<h3><%= @project[0]['title'] %></h3>
<p><%= @project[0]['description'] %></p>
<form id="edit" action="/projects/<%= @project[0]['id'] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="project[title]">Project title</label>
  <input type="text" name="project[title]">
  <label for="project[description]">Project Description</label>
  <input type="text" name="project[description]">
  <button type="submit" class="btn btn-default">Edit Project</button>
</form>
<form id="delete" action="/projects/<%= @project[0]['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-default">Delete Project</button>
</form>
